# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/slnx.sqlite
.vs/SimpleTaskScheduler/FileContentIndex/2cc57eaa-7009-423c-8cf2-61048079873b.vsidx
.vs/slnx.sqlite
.vs/SimpleTaskScheduler/v17/.wsuo
.vscode/settings.json
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/SimpleTaskScheduler/FileContentIndex/173a6b35-0027-45f7-9551-2d345e05faa8.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
